@model UserViewModel

<tr>
    <td>@Model.FullName</td>
    <td>@Model.UserName</td>
    <td>@Model.Email</td>
    <td>
        <span class="badge badge-light-@(Model.IsDeleted ? "danger" : "success") js-status">
            @(Model.IsDeleted ? "Deleted" : "Available")
        </span>
    </td>
    <td>@Model.CreatedOn</td>
    <td class="js-updated-on">@Model.LastUpdatedOn</td>
    <td>
        <div class="dropdown ">
            <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
                Action
            </button>

            <ul class="dropdown-menu  " aria-labelledby="dropdownMenuButton1" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 39px);" data-popper-placement="bottom-start">
                @*<li><a class="dropdown-item" asp-controller="Users" asp-action="Edit" asp-route-id="@Model.Id">Edit</a></li>*@
                <li><a class="dropdown-item js-render-modal" data-path="/Users/GetLastUpdatedOn/@Model.Id"  data-update="true" data-title="Edit User" data-url="/Users/Edit/@Model.Id" data-id="@Model.Id" href="javascript:;">Edit</a></li>
                <li><a class="dropdown-item js-toggle-status" data-url="/Users/ToggleStatus/@Model.Id" data-id="@Model.Id" href="javascript:;">Toggle Status</a></li>
                <li><a class="dropdown-item js-render-modal" data-path="/Users/GetLastUpdatedOn/@Model.Id"  data-update="true" data-title="Reset Password" data-url="/Users/ResetPassword/@Model.Id" data-id="@Model.Id" href="javascript:;">Reset Password</a></li>
            </ul>
        </div>
    </td>
</tr>