@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories";
}
@section Styles{
    <link href="~/assets/plugins/datatables/datatables.bundle.css" rel="stylesheet" />
}

<div class="card shadow-sm">
    @*start: datatable header card *@
    <div class="card-header align-items-center py-5 gap-2 gap-md-5">
        <div class="card-title">
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
                <span class="svg-icon fs-1 position-absolute ms-4">
                    <i class="bi bi-search text-primary"></i>
                </span>
                <input type="text" data-kt-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search " />
            </div>
            <!--end::Search-->
            <!--begin::Export buttons-->
            <div id="kt_datatable_example_1_export" class="d-none"></div>
            <!--end::Export buttons-->
        </div>
        <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
             
            <button type="button" class="btn btn-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                <i class="bi bi-box-arrow-down">  <span class="path1"></span><span class="path2"></span></i>
                Export 
            </button>
            
            <div id="kt_datatable_example_export_menu" class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-200px py-4" data-kt-menu="true">
                
                <div class="menu-item px-3">
                    <a href="#" class="menu-link px-3" data-kt-export="copy">
                        Copy to clipboard
                    </a>
                </div>
              
                <div class="menu-item px-3">
                    <a href="#" class="menu-link px-3" data-kt-export="excel">
                        Export as Excel
                    </a>
                </div>
               
                <div class="menu-item px-3">
                    <a href="#" class="menu-link px-3" data-kt-export="csv">
                        Export as CSV
                    </a>
                </div>
                 
                <div class="menu-item px-3">
                    <a href="#" class="menu-link px-3" data-kt-export="pdf">
                        Export as PDF
                    </a>
                </div>
               
            </div>
            
            <div id="kt_datatable_example_buttons" class="d-none"></div>
            
         </div>
    </div>
    @*end :: datatable header card *@
    @********second header card  ************@
    <div class="card-header">
        <h3 class="card-title">
            <div class="symbol symbol-40px me-4">
                <div class="symbol-label fs-2 fw-semibold text-success">
                    <!--begin::Svg Icon | path: icons/duotune/general/gen002.svg-->
                    <span class="svg-icon svg-icon-2 svg-icon-primary">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.3" d="M21.25 18.525L13.05 21.825C12.35 22.125 11.65 22.125 10.95 21.825L2.75 18.525C1.75 18.125 1.75 16.725 2.75 16.325L4.04999 15.825L10.25 18.325C10.85 18.525 11.45 18.625 12.05 18.625C12.65 18.625 13.25 18.525 13.85 18.325L20.05 15.825L21.35 16.325C22.35 16.725 22.35 18.125 21.25 18.525ZM13.05 16.425L21.25 13.125C22.25 12.725 22.25 11.325 21.25 10.925L13.05 7.62502C12.35 7.32502 11.65 7.32502 10.95 7.62502L2.75 10.925C1.75 11.325 1.75 12.725 2.75 13.125L10.95 16.425C11.65 16.725 12.45 16.725 13.05 16.425Z" fill="currentColor" />
                            <path d="M11.05 11.025L2.84998 7.725C1.84998 7.325 1.84998 5.925 2.84998 5.525L11.05 2.225C11.75 1.925 12.45 1.925 13.15 2.225L21.35 5.525C22.35 5.925 22.35 7.325 21.35 7.725L13.05 11.025C12.45 11.325 11.65 11.325 11.05 11.025Z" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </div>
            </div>
            Categories
        </h3>
        <div class="card-toolbar">
            <a asp-controller="Categories" asp-action="Create" class="btn btn-sm btn-primary">
                <i class="bi bi-plus-square-dotted"></i>
                Add
            </a>
        </div>
    </div>
                  
    <div class="card-body pt-0">
        @if (!Model.Any())
        {
            <div class="alert alert-dismissible bg-light-warning border border-warning border-dashed d-flex flex-column flex-sm-row w-100 p-5 mb-10">
                <!--begin::Icon-->
                <!--begin::Svg Icon | path: icons/duotune/communication/com003.svg-->
                <span class="svg-icon svg-icon-2hx svg-icon-warning me-4 mb-5 mb-sm-0">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor" />
                        <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="currentColor" />
                        <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="currentColor" />
                    </svg>
                </span>
                <!--end::Svg Icon-->
                <!--end::Icon-->
                <!--begin::Content-->
                <div class="d-flex flex-column pe-0 pe-sm-10 align-self-center">
                    <h5 class="mb-1">No categories found!</h5>
                </div>
                <!--end::Content-->
            </div>
        }
        else
        {
            <div class="table-responsive">
                <table   class="table table-row-dashed table-row-gray-300 gy-7 js-datatables" data-datatable-title="Category export">
                    <thead>
                        <tr class="fw-bold fs-6 text-gray-800">
                            <th>Name</th>
                            <th>Status</th>
                            <th>Created On</th>
                            <th>Last Updated On</th>
                            <th class="js-no-export">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model)
                        {
                            <tr>
                                <td>@category.Name</td>
                                <td>
                                    <span class=" badge badge-light-@(category.IsDeleted ? "danger" : "success") jsStatus">
                                        @(category.IsDeleted ? "Deleted" : "Available")
                                    </span>
                                </td>
                                <td>@category.CreatedOn</td>
                                <td class="js-updated-on">@category.LastUpdatedOn</td>
                                <td>
                                    <div class="dropdown ">
                                        <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
                                            Action
                                        </button>

                                        <ul class="dropdown-menu  " aria-labelledby="dropdownMenuButton1" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 39px);" data-popper-placement="bottom-start">
                                            <li><a class="dropdown-item" asp-controller="Categories" asp-action="Edit" asp-route-id="@category.Id">Edit</a></li>
                                            <li><a class="dropdown-item js-toggle-status" data-id="@category.Id" href="javascript:;">Toggle Status</a></li>
                                        </ul>
                                    </div> 
                                </td>
                            </tr>
                        }
                    </tbody>
                </table> 
            </div>
        }
    </div>
</div>
@section Plugins{
    <script src="~/assets/plugins/datatables/datatables.bundle.js"></script>
}
@Html.AntiForgeryToken();
 
@section Scripts{
   
    <script>
        $(document).ready(function () {
            /**start datatable*/
            //$('table').DataTable();
            /**end datatable*/
            $(".js-toggle-status").on("click", function () {
                var btn = $(this);  
                console.log(btn.data('id'))
                //here call ToggleStatus fucntion
                var categoryId = btn.data('id');

                bootbox.confirm({
                    message: 'Do you want to toggle status?',
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-primary'
                        }
                    },
                    callback: function (result) {
                      
                      if(result){
                            $.post({
                                url: "/Categories/ToggleStatus/" + categoryId,
                                data: { // request body
                                    '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val(),
                                },
                                success: function (response) {
                                    console.log(response);
                                    
                                    //to convert date to 	11/26/2023, 11:54:30
                                    const normalDate = new Date(response.lastUpdatedOn);
                                    const formattedDate = normalDate.toLocaleString('en-US', {
                                        year: 'numeric',
                                        month: '2-digit',
                                        day: '2-digit',
                                        hour: 'numeric',
                                        minute: 'numeric',
                                        second: 'numeric',
                                        hour12: true,
                                    });
                                   
                                    var statusRow = btn.parents('tr').find('.jsStatus');
                                    var lastUpdateRow = btn.parents('tr').find('.js-updated-on');
                                    lastUpdateRow.html(formattedDate)
                                   
                                    if (!response.isDeleted) {
                                        statusRow.text("Available").toggleClass('badge-light-danger badge-light-success');
                                    } else {
                                        statusRow.text("Deleted").toggleClass('badge-light-success badge-light-danger');
                                    }
                                    statusRow.toggleClass("animate__animated animate__flash ") //animation
                                    lastUpdateRow.toggleClass("animate__animated animate__flash") //animation
                                  
                                    ////alert function
                                    ShowToastrSuccessMessage("Saved Successfully");
                                },
                                error: function (error) {
                                    console.log(error);
                                    //alert 
                                    Swal.fire({
                                        icon: "error",
                                        title: "Error",
                                        text: "There is Error",

                                    });
                                }
                            })

                      }
                    }
                });
               

            })

        })
    </script>
}
